{% extends "juice/templates/index.html" %}

{% block hero %}
<script async defer src="https://buttons.github.io/buttons.js"></script>
<section class="text-center">
    <img class="hero-image" src="{{ get_url(path="logo.png") }}">
    <h1 class="title-text">A programming language for data stream processing.</h2>
    <div class="rounded-rectangle">
      <pre><code><span class='unselectable'>$ </span><span id="copyText"><span class="string">cargo</span> <span class="string">install</span> aqua --git <a href="https://github.com/aqua-language/aqua" style="color:blue; text-decoration:underline">https://github.com/aqua-language/aqua</a></span><button class="copy-button" onclick="copyToClipboard()">COPY</button></code></pre>
    </div>
    <div id="message">Text copied to clipboard!</div>
</section>

<div class="rounded-rectangle">
<pre><code><span class="lineno"> 1  </span><span class="comment"># Calculate the total quantity and  erage EUR price of items every</span>
<span class="lineno"> 2  </span><span class="comment"># six hours for orders that have been shipped in the last day.</span>
<span class="lineno"> 3  </span>
<span class="lineno"> 4  </span><span class="keyword">struct</span> <span class="type">Item</span>(id:<span class="type">u64</span>, priceUsd:<span class="type">f64</span>, quantity:<span class="type">u64</span>);
<span class="lineno"> 5  </span><span class="keyword">struct</span> <span class="type">Order</span>(id:<span class="type">u64</span>, items:<span class="type">Vec</span>[<span class="type">Item</span>], status:<span class="type">String</span>, ts:<span class="type">Time</span>);
<span class="lineno"> 6  </span>
<span class="lineno"> 7  </span><span class="keyword">from</span> o:<span class="type">Order</span> <span class="keyword">in</span> source(kafka(<span class="string">"localhost:9092/orders"</span>), json(), _.ts)
<span class="lineno"> 8  </span><span class="keyword">where</span> o.status == <span class="string">"shipped"</span>
<span class="lineno"> 9  </span><span class="keyword">from</span> i:<span class="type">Item</span> <span class="keyword">in</span> o.items
<span class="lineno">10  </span><span class="keyword">group</span> itemId = i.id
<span class="lineno">11  </span>  <span class="keyword">over</span> sliding(size=<span class="numeric">1d</span>, slide=<span class="numeric">6h</span>)
<span class="lineno">12  </span>  <span class="keyword">compute</span> avgPriceUsd = avg <span class="keyword">of</span> i.priceUsd,
<span class="lineno">13  </span>          totalQuantity = sum <span class="keyword">of</span> i.quantity
<span class="lineno">14  </span><span class="keyword">select</span> itemId, avgPriceEur = avgPriceUsd * <span class="numeric">0.85</span>, totalQuantity
<span class="lineno">15  </span><span class="keyword">into</span> sink(kafka(<span class="string">"localhost:9092/items"</span>), csv()).run(flink());
</code></pre>
</div>
<style>
  .keyword {
    color: rgb(28,28,255);
    font-weight: bold;
  }
  .numeric {
    color: rgb(215,95,0);
  }
  .string {
    color: rgb(0,135,0);
  }
  .builtin {
    color: rgb(0,135,0);
  }
  .command {
    color: rgb(135,0,175);
  }
  .comment {
    color: rgb(135,135,135);
    font-style=italic;
  }
  .lineno {
    color: rgb(135,135,135);
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera, and Firefox */
  }
  .type {
    color: rgb(135,0,175);
    font-weight: bold;
  }
  .rounded-rectangle {
    background-color: rgb(240,240,240);
    border-radius: 30px;
    display: inline-block;
    line-height: 1.6;
    flex: 1 1 45%;
    font-size: calc(1vw);
    text-align: left;
  }
  .unselectable {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera, and Firefox */
  }
  .hero {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }
  .hero section, .hero .rounded-rectangle {
    flex: 1 1 100%;
    padding: 20px;
  }
  .hero-image {
    width: 60%;
  }
  @media screen and (max-width: 1000px) {
    .hero {
      flex-wrap: wrap;
      flex: 1 1 45%;
    }
    .rounded-rectangle {
      flex: 1 1 45%;
      font-size: calc(2vw);
    }
    .hero-image {
      width: 50%;
      padding: 50px;
    }
    .explore-more {
      display: none;
    }
  }
  pre {
    margin: 0;
    padding: 0;
  }
  .copy-button {
    margin-left: 10px;
    padding: 5px 10px;
    cursor: pointer;
    border-color: rgb(220,220,220);
    border-radius: 10px;
  }
  #message {
    opacity: 0;
    transition: opacity 1s ease-in-out;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgb(110, 181, 255);
    color: white;
    padding: 10px;
    border-radius: 5px;
    visibility: hidden; /* Ensure it is hidden initially */
  }
  #message.show {
      visibility: visible;
      opacity: 1;
  }
</style>

<div class="explore-more text"
    onclick="document.getElementById('features').scrollIntoView({behavior: 'smooth'})">
    <p style="font-size: 30px">
    Get Started ⇩
    </p>
</div>

<script>
  function copyToClipboard() {
    const text = document.getElementById('copyText').innerText;
    const tempInput = document.createElement('input');
    document.body.appendChild(tempInput);
    tempInput.value = text;
    tempInput.select();
    document.execCommand('copy');
    document.body.removeChild(tempInput);

    const message = document.getElementById('message');
    message.classList.add('show');
    message.style.visibility = 'visible'; // Ensure it's visible when shown

    setTimeout(() => {
        message.classList.remove('show');
        setTimeout(() => {
            message.style.visibility = 'hidden';
        }, 1000); // Wait for the opacity transition to complete
    }, 2000); // Duration the message is visible
  }
</script>

{% endblock hero %}

{% block favicon %}
    <link rel="icon" type="image/png" href="/favicon_ico">
{% endblock favicon %}
